.app-holder {
  /* display: flex; */
  margin: 0px;
  font-family: DM sans;
  /* font-family: Poopins; */
}

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

.dashboard-login-holder {
  display: flex;
  justify-content: flex-end;
}

.website-main-component-holder {
  width: 80%;
  background-color: rgb(209 208 208 / 59%);
  padding: 1rem;
  min-height: 100vh;
}


@media screen and (max-width:800px) {
  .website-main-component-holder {
    width: 100%;
  }
}